---
import { getCollection } from "astro:content";
import MainLayout from "../../layouts/MainLayout.astro";
import Title from "../../components/Title.astro";
import Card from "../../components/Card.astro";
import Section from "../../components/Section.astro";

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<MainLayout>
  <Section>
    <Title text="Blog posts" />
    <ul>
      {
        posts.map((blog) => (
          <Card
            slug={blog.slug}
            title={blog.data.title}
            description={blog.data.description}
            pubDate={blog.data.pubDate}
            base="blog"
          />
        ))
      }
    </ul>
  </Section>
</MainLayout>
