---
import MainLayout from "../../layouts/MainLayout.astro";
import Title from "../../components/Title.astro";
import Card from "../../components/Card.astro";
import Section from "../../components/Section.astro";
import BaseHead from "../../components/BaseHead.astro";
import { contentfulClient, type BlogPost } from "../../lib/contentful";

const posts = await contentfulClient.getEntries<BlogPost>({
  content_type: "blogpost",
});
---

<MainLayout>
  <BaseHead
    title="Blog | Nauzet Hernández's Articles Page"
    description="Explore a tech blog by a Software Engineer and Flutter Developer. Discover articles on mobile app and web development, coding tips, and more. Stay updated with the latest in the tech world."
    slot="header"
  />
  <Section>
    <Title text="Blog posts" />
    <ul>
      {
        posts.items.map((blog) => (
          <Card
            slug={blog.fields.slug}
            title={blog.fields.title}
            description={blog.fields.description}
            pubDate={blog.fields.date}
            base="blog"
          />
        ))
      }
    </ul>
  </Section>
</MainLayout>
