---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout>
  <section class="flex gap-4 justify-center items-center mx-auto my-9">
    <p class="font-bold text-4xl text-fireEngineRed">404</p>
    <p>-</p>
    <p>Page not found</p>
  </section>
</MainLayout>
