---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout>
  <section class="py-[3em] flex gap-4 justify-center items-center mx-auto">
    <p class="font-bold text-4xl">404</p>
    <p>-</p>
    <p>Page not found</p>
  </section>
</MainLayout>
