---
import BaseHead from "../components/BaseHead.astro";
import Button from "../components/Button.astro";
import Divider from "../components/Divider.astro";
import GenericLink from "../components/GenericLink.astro";
import Section from "../components/Section.astro";
import Title from "../components/Title.astro";
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout>
  <BaseHead
    title="About | Nauzet Hernández's About Page"
    description="Get to know a Software Engineer and Flutter Developer. Explore my journey, passions, and experiences in the world of mobile app and web development."
    slot="header"
  />
  <Section>
    <p>Hola, Hello, こんにちは, Salut, Hallo, 안녕하세요.</p>
    <p class="mt-1">
      My full name is Nauzet Aduen Hernández Hernández, I'm a Software Engineer
      based in Gran Canaria, Spain.
    </p>
    <p class="mt-1">
      Nauzet is a <GenericLink
        href="https://en.wikipedia.org/wiki/Guanches"
        text="guanche name"
      />, which means "the warrior of every battle", a warrior who never lost or
      fought injured. Aduen is also a guanche name, but it's meaning is unknown.
    </p>
  </Section>
  <Divider />
  <Section>
    <Title text="Most recent work" />
    <p>
      In 2024, started developing a narrative/rpg/adventure type of game. More
      to come.
    </p>
    <p class="mt-1">
      In 2022, worked at
      <GenericLink href="https://www.barkibu.com" text="Barkibu" />
       helping develop the mobile app in Flutter. Worked in every area, from
      backend, in Ruby on Rails, to DevOps, with Bitrise, Heroku, AWS, etc.
      Focused mostly in the App and DevOps, I led the development for half a
      year where I was alone or without another junior dev.
    </p>
    <p class="mt-1">
      In 2021, worked at
      <GenericLink href="https://adedelivered.com" text="ADE" />
       where I helped develop a webapp in React aimed at helping companies in
      the mobility sector adapt to the new e-mobility landscape. Two junior
      developers made an MVP possible and the project is currently in a PMF
      phase.
    </p>
  </Section>
  <Divider />
  <Section>
    <Title text="Tech" />
    <p>
      Have a Degree in Computer Engineering with an intesification in Software
      Engineering by the <GenericLink
        href="https://www.ulpgc.es"
        text="ULPGC"
      />.
    </p>
    <p class="mt-1">
      Focused in mobile and front-end development, specifically in Flutter, with
      around 3 years of experience.
    </p>
    <p class="mt-1">
      Love to learn new tech and be the first adapter and then forget about it,
      for example, developing a couple of portfolios in Flutter web, NextJS and
      Astro.
    </p>
    <Button
      href="https://www.github.com/NauzetAduen"
      text="Visit my github"
      external="true"
    />
  </Section>
  <Divider />
  <Section>
    <Title text="Personal" />
    <p>
      Some of my hobbies are learning the guitar and the bass, <GenericLink
        href="https://www.chess.com/member/nowset"
        text="playing chess"
      /> and working out.
    </p>

    <p class="mt-1">
      Far into the past, played football, basketball and videogames for years.
    </p>
    <p class="mt-1">Diabetic type I, broken too many bones, sleeps poorly.</p>
  </Section>
</MainLayout>
