---
import Divider from "../components/Divider.astro";
import Button from "../components/Button.astro";
import Title from "../components/Title.astro";
import FeaturedPosts from "../components/FeaturedPosts.astro";
import MainLayout from "../layouts/MainLayout.astro";
import Section from "../components/Section.astro";
import GenericLink from "../components/GenericLink.astro";
---

<MainLayout>
  <Section>
    <p>
      Hello, I'm <span class="font-bold">Nauzet</span>, a Software Engineer
      based on The Canary Islands, Spain.
    </p>
    <p class="mt-1">
      Have around 3 years of experience developing mobile apps with <GenericLink
        href="https://www.flutter.dev"
        text="Flutter"
      />.
    </p>
    <Button href="/about" text="Wanna know more?" />
  </Section>
  <Divider />
  <Section>
    <Title text="Where are you?" />
    <p class="mt-1">
      This is my small corner of the vast world wide web where I share technical
      mishaps and even some of my worst projects. Eventually would like to add a
      music section with my learnings and experiences.
    </p>
  </Section>
  <Divider />
  <FeaturedPosts />
  <Divider />
  <Section>
    <Title text="Let's chat" />
    <p>
      Do you wanna talk? A suggestion? A concern? let's talk then. Looking
      forward to meet you and learn more about you.
    </p>
    <Button
      href="mailto:nauzet.aduen@gmail.com?Subject=FromBlog"
      text="mail me"
    />
  </Section>
</MainLayout>
