---
import Divider from "../components/Divider.astro";
import Button from "../components/Button.astro";
import Title from "../components/Title.astro";
import LatestPosts from "../components/LatestPosts.astro";
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout>
  <section class="py-[1.5em]">
    <p>
      Hi, my name is <span class="font-bold text-3xl">Nauzet Hernández</span>
       and I'm a Software Engineer based on The Canary Islands, Spain.
    </p>
    <p class="mt-4">
      I have around 3 years of experience developing mobile apps with
      <a href="https://www.flutter.dev">Flutter</a>.
    </p>
    <Button href="/about" text="Learn more" />
  </section>
  <Divider />
  <section class="py-[1.5em]">
    <Title text="Latest posts" />
    <LatestPosts />
  </section>
  <Divider />
  <section id="contact" class="py-[1.5em]">
    <Title text="Let's chat" />
    <p>Looking forward to meet you and learn more about you</p>
    <Button
      class="pt-[1.5em]"
      href="mailto:nauzet.aduen@gmail.com?Subject=FromBlog"
      text="mail me"
    />
  </section>
</MainLayout>
