---
import Divider from "../components/Divider.astro";
import Button from "../components/Button.astro";
import Title from "../components/Title.astro";
import FeaturedPosts from "../components/FeaturedPosts.astro";
import MainLayout from "../layouts/MainLayout.astro";
import Section from "../components/Section.astro";
import GenericLink from "../components/GenericLink.astro";
---

<MainLayout>
  <Section>
    <p>
      Hello, I'm <span class="font-bold">Nauzet</span>, a Software Engineer
      based on The Canary Islands, Spain.
    </p>
    <p class="mt-1">
      Have around 3 years of experience developing mobile apps with <GenericLink
        href="https://www.flutter.dev"
        text="Flutter"
      /> and <GenericLink href="https://dart.dev/" text="Dart" />.
    </p>
    <p class="mt-1">
      Currently developing a game in the
      <GenericLink href="https://godotengine.org/" text="Godot Engine" /> and <GenericLink
        href="https://docs.godotengine.org/es/4.x/tutorials/scripting/gdscript/gdscript_basics.html"
        text="GDScript"
      />.
    </p>
    <Button href="/about" text="Wanna know more?" />
  </Section>
  <Divider />
  <FeaturedPosts />
  <Divider />
  <Section>
    <Title text="Let's chat" />
    <p>
      Do you wanna talk? A suggestion? A concern? let's talk then. Looking
      forward to meet you and learn more about you.
    </p>
    <Button
      href="mailto:nauzet.aduen@gmail.com?Subject=FromBlog"
      text="mail me"
    />
  </Section>
</MainLayout>
