---
const { href, text, external } = Astro.props;
const target = external ? "_blank" : "";
---

<!-- TODO ADD ICON -->
<button
  class="mt-4 ease bg-gradient-to-tl from-springGreen to-springGreen bg-invisibleSmall bg-left-bottom bg-no-repeat duration-300 hover:bg-visibleSmall font-bold text-base uppercase"
>
  <a href={href} rel="noopener noreferrer" target={target}>{text}</a>
</button>
