<footer
  class="max-w-3xl mx-auto text-center text-xs leading-tight sm:text-base my-9"
>
  <p>&copy; 2023 Nauzet Hernández. All rights reserved.</p>
  <p>
    Developed with <a
      class="underline"
      href="https://www.astro.build"
      rel="noopener noreferrer"
      target="_blank">Astro</a
    > and <a
      class="underline"
      href="https://tailwindcss.com"
      rel="noopener noreferrer"
      target="_blank">Tailwind</a
    >
  </p>
</footer>
