---
const {
  href,
  target = "_blank",
  rel = "noopener noreferrer",
  text,
} = Astro.props;
---

<a href={href} target={target} rel={rel}>
  <span class="underline decoration-black-400 decoration-2">{text}</span></a
>
