---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"a">;

const { href, class: className, ...props } = Astro.props;

const { pathname } = Astro.url;
const isActive = href === pathname || href === pathname.replace(/\/$/, "");
---

{
  /* TODO - add active navbar tailwind css
  don't forget this css will be added to menuitems
  isActive ? "text-red-400" : ""
*/
}
<a href={href} class:list={[className, isActive]} {...props}>
  <slot />
</a>
