---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"a">;

const { href, class: className, ...props } = Astro.props;

const { pathname } = Astro.url;
const isActive = href === pathname || href === pathname.replace(/\/$/, "");
---

<a
  href={href}
  class:list={[
    className,
    isActive ? "font-bold" : "text-payneGrey",
    "max-h-4 decoration-wavy flex items-center justify-center ease bg-gradient-to-tl from-springGreen to-springGreen bg-invisibleSmall bg-left-bottom bg-no-repeat duration-300 hover:bg-visibleSmall",
  ]}
  {...props}
>
  <slot />
</a>
