---
const { svg, alt, href } = Astro.props;
---

<div
  class="ease bg-gradient-to-tl from-springGreen to-springGreen bg-invisibleSmall bg-left-bottom bg-no-repeat duration-300 hover:bg-visibleSmall"
>
  <a href={href} rel="noopener noreferrer" target="_blank"
    ><img width="20px" height="20px" src={svg} alt={alt} /></a>
</div>
