---
import Divider from "../../components/Divider.astro";
import FormattedDate from "../../components/FormattedDate.astro";
import ItemLayout from "../../layouts/ItemLayout.astro";
import { type CollectionEntry, getCollection } from "astro:content";

export async function getStaticPaths() {
  const projects = await getCollection("projects");
  return projects.map((project) => ({
    params: { slug: project.slug },
    props: project,
  }));
}
type Props = CollectionEntry<"projects">;

const project = Astro.props;
const { Content } = await project.render();
const title = project.data.title + " | Personal project ";
---

<ItemLayout title={title} description={project.data.description}>
  <h1 class="text-fireEngineRed" transition:name="title">
    {project.data.title}
  </h1>
  <p class="text-sm" transition:name="date">
    <FormattedDate date={project.data.pubDate} />
  </p>
  <Divider />
  <Content />
</ItemLayout>
