---
import { getCollection } from "astro:content";
import MainLayout from "../../layouts/MainLayout.astro";
import Title from "../../components/Title.astro";
import FormattedDate from "../../components/FormattedDate.astro";
import Card from "../../components/Card.astro";

const projects = (await getCollection("projects")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<MainLayout>
  <section class="mt-[1.5em]">
    <Title text="Personal projects" />
    <ul>
      {
        projects.map((project) => (
          <Card
            slug={project.slug}
            title={project.data.title}
            description={project.data.description}
            pubDate={project.data.pubDate}
            base="projects"
          />
        ))
      }
    </ul>
  </section>
</MainLayout>
